
body{
    margin:10px;
    /* background-color: black; */

}


.chart{

    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}

.all__charts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line{
    margin-top: -50px;
    align-items: center;
    justify-content: center;
}

.header{
  display: flex;
  margin-bottom: 100px;
  justify-content: space-evenly;
}

.header_cards{
   padding-top: 10px; 
}
.cards2{
    display: flex;
}

 .app__dropdown{
    background-color:rgb(97, 94, 94) ;
    border-color: white;
}  
.app__h{
    background-color: black;
}

@media only screen and (max-width: 770px) {
    .chart{

        display: flex;
        flex-direction: column;
        
    }
    
  }
/* 
  @media only screen and (max-width: 2770px) {
    .all__charts{

        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
  } */