*{
  margin:0;
}

.App{
  background-color: black;
} 
.dropdown{
  justify-content: right;
}

.map__header{
  display: flex;
  justify-content: space-evenly;
}

.map__image{
  height: 300px;
  width: 600px;
}